*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 0;
     margin: 0;
}

body{
    overflow-x: hidden;
    box-sizing: border-box;
}

.upperline{
    background-color: rgb(226, 91, 42);
    width: 100%vb;
    height: 1.9rem;
    border: 0.2rem;
    display: flex;
    
  
}

.upperfirstline i{
    font-size: 1.5rem;
     
}

.upperlineleft{
    position: absolute;
    left: 80%;
    justify-content: space-between;
    
    
}

.screen-reader{
    background-color:rgb(0, 78, 78);
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem;
    display: inline-block; 
    height: 1.4rem; 
    width: 7rem;
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 7px;
}

.font{
    display: inline-block;
    color: white;
}

.block-font{
    display: inline-block;
    color: black;
    background-color:white;
    padding: 2px;
    margin-left: 0.2rem;
    border: 1px solid black;
    height: 1.5rem;
    margin-top: 2px;
    text-align: center;

}

.block-black-font{
    display: inline-block;
    background-color: black;
    color:white;
    padding: 2px;
    margin-left: 0.2rem;
    border: 1px solid black;
    height: 1.5rem;
    margin-top: 2px;
    text-align: center;
    
}

.institute-logo .icon{
 background: url(https://images.seeklogo.com/logo-png/36/2/rajiv-gandhi-proudyogiki-vishwavidyalaya-logo-png_seeklogo-362841.png?v=1955057338769454072);
 background-size: cover;
}

.institute-logo .icon{
    position: absolute;
    left: 18rem;
    height: 5rem;
    width: 5rem;
    margin: 0.7rem;
}

.head{
font-size: 1.5rem;
position: absolute;
position: absolute;
left: 29%;
margin-top: 1.5rem;
text-decoration: solid;
}

.description{
    font-size: 0.8rem;
    position: absolute;
    left: 32%;
    margin-top: 3.8rem;
    text-decoration: solid;
    }

    .navigation-bar{
        position: absolute;
        top: 9rem;
        width: 100%;
        height: 3rem;
        background-color: rgb(0, 78, 78);
    }

    .slider {
        position: absolute;
        top: 12rem;
        height: 32rem;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border: 2px solid #ddd;
        border-radius: 10px;
    }
    .slides {
        display: flex;
        transition: transform 0.5s ease;
    }
    .slide {
        min-width: 100%;
        box-sizing: border-box;
    }
    .slide img {
        width: 100%;
        border-radius: 10px;
    }
    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
    }
    .prev {
        left: 10px;
    }
    .next {
        right: 10px;
    }


.blue{
    opacity: 0.8;
    background-color: rgb(8, 51, 54);
    position: absolute;
    top: 40rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 7rem;
}

.headingg{
    color: white;
    font-size: 1.7rem;
    margin-left: 2.5rem;
    margin-bottom: 15px;
    opacity: 1; 
}

.welcome{
    color: white;
    margin-left: 2.8rem;
    font-size: 1rem;
    margin-top: 1rem;
    opacity: 1;
}

@media(max-width:768px){
    .upperfirstline{
     width: 100%;
     text-align: center;
    }
    .line{
        width: 100%;
        height: 1px;
        position: absolute;
        top: 3rem;
    }
     .upperlineleft{
        width: 100%;
        background-color: rgb(226, 91, 42);
        position: absolute;
        top: 2rem;
        left: 0;
        text-align: center;
     }
  
     .institute-logo{
        position: absolute;
        top: 2.3rem;
        width: 100vb;
        background-color: yellow;
     }

     .institute-logo .icon{
        background: url(https://images.seeklogo.com/logo-png/36/2/rajiv-gandhi-proudyogiki-vishwavidyalaya-logo-png_seeklogo-362841.png?v=1955057338769454072);
        background-size: cover;
       }

       .institute-logo .icon{
        position: absolute;
        left: 2rem;
        top: 1.8rem;
        height: 3rem;
        width: 3rem;
        margin: 0.7rem;
    }

    .head{
        position: absolute;
        left: 6.5rem;
        top: 1.2rem;
        font-size: 0.7rem;
        
        }

        .description{
        position: absolute;
        left: 7.5rem;
        top: 0.1rem;
        font-size: 0.4rem;
        
        }

        .slider {
            position: absolute;
            top: 12rem;
            height: 8rem;
            width: 100%;
            margin: auto;
            overflow: hidden;
            border: 2px solid #ddd;
            border-radius: 10px;
        }
        .slides {
            display: flex;
            transition: transform 0.5s ease;
        }
        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }
        .slide img {
            width: 100%;
            border-radius: 10px;
        }
        .button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 18px;
        }
        .prev {
            left: 10px;
        }
        .next {
            right: 10px;
        }
    
        .blue{
            position: absolute;
            width: 100%;
            top: 20rem;
            background-color: white;
            left: 00;
        }
    
    .headingg{
        position: absolute;
        top: 1.7rem;
        left: -2rem;
        color: black;
        font-size: 1rem;

    }
    
    .welcome{
        color:black;
        top: 0.5rem;
        font-size: 0.7rem;
        left: 10px;
    }

}

.info{
    position: absolute;
    top: 47rem;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: row;
    padding: 1rem;
}

#des1{
position: absolute;
top: 2.5rem;
left: 7rem;
width: 45%;
text-align: left;
border-left: 3px solid rgb(226, 91, 42)
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    width: 40%;
    left: 55%;
}

.card1{
    margin: 1rem;
    width: 12rem;
    height: 25%;
}

.department-section {
    width: 100%;
    height: 47.5rem;
    position: absolute;
    top: 75rem;
    color: rgb(238, 238, 238);
    padding: 50px 0px 100px;
    background: linear-gradient(135deg, rgb(24, 72, 82) 0px, rgb(0, 140, 169) 40%, rgb(24, 72, 82) 65%, rgb(236, 51, 56) 100%);
}

.department-section div span{
    font-size: 1.5rem;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.department-section div{
    margin-left: 7rem;
    margin-right: 7rem;
}


.director-info{
    position: absolute;
    top: 135rem;
    width: 100%;
    height: 30rem;
    display: flex;
}

.sir{
    position: relative;
    left: 5rem;
    width: 50%;
}

.director-info .photo{
    position: relative;
    margin: 2rem;
    left: 10%;
    width: 25%;
    height:75%
}

.director-info .photo{
    background: url(https://www.uitrgpv.ac.in/imagesN/director2.jpg);
    background-size: cover;
}

.director-info .name{
    position: relative;
    left: -17.45%;
    padding: 0.5rem;
    height: 4rem;
    top: 75%;
    background-color: rgb(226, 81, 81);
}

@media(max-width:768px){
    .info{
        position: absolute;
        top: 22rem;
        left: 00;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #des1{
        position: absolute;
        top: 2rem;
        left: 00;
        width: 100%;
    }

    .cards{
        position: absolute;
        top: 27rem;
        width: 100%;
        left: 00;
        height: 47rem;
        display: flex;
    }

    .card1{
        left: 00;
        width: 60%;
        justify-content: center;

    }

    .department-section{
        position: absolute;
        top: 100rem;
    }
   
    .director-info{
        position: absolute;
        top: 500rem;
    }
    
}

h3{
    position: absolute;
    top: 170rem;
    color: rgb(8, 51, 54);
    left: 45%;
}

.grid{
    position: absolute;
    top: 175rem;
    width: 80%;
    height: 35rem;
    left: 10%;
    background-color: rgb(31, 101, 194);
}

.uit{
    background: url(https://www.rgpv.ac.in/images/slider/slide6.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: -2;
    top: 205rem;
    width: 100%;
    height: 40.5rem;
}

.opacity{
    position: absolute;
    top: 205rem;
    z-index: -1;
    width: 100%;
    height: 40.5rem;
    opacity: 0.7; 
    background-color: rgb(1, 43, 51);
}
    
.scroll{
    position: absolute;
    top: 242rem;
    width: 80%;
    height: 35rem;
    left: 10%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}





.bottom{
    position: absolute;
    top: 265rem;
    width: 100%;
    height: 21rem;
    background-color: rgb(32,76,84);
    display: grid;
}

#left{
    position: absolute;
    margin-top: 45px;
    width: 62%;
    height: 18rem;
    background-color: silver;
    z-index: 1;
    display: grid;
    grid-template-columns: 198.6px 198.6px 198.6px;
    left: 10%;
    background-color: rgb(32,76,84);
    color: white;
}

#left ul li{
    font-size: 0.9rem;
    padding: 5px;
}

#left h5{
    padding-bottom: 15px;
}

.white{
    position: absolute;
    top: 00;
    width: 20%;
    height: 21rem;
    background-color: white;
    left: 72%;
    padding: 5px;
    padding-top: 50px;
}

.white .ul .h5{
    margin-top: 45px;
    margin-left: -5px;
}

#yes li:before{
    content:">  ";
    opacity: 0.7;
}

.card .img{
    height: 100%;
    width: 100%;
    background: url(https://www.uitrgpv.ac.in/imagesN/aids_img.jpg);
    background-size: cover;
}

.card .head{
    font-size: 1rem;
}

.card .des{
    font-size: 0.8rem;
}

utton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.grid{
    left: 7.5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 50% 50%;
    width: 85%;
}

.window{
    width:80%;
    margin-top: 2rem;
    height: 22rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#w{
    
    height: 82%;
    margin: 0.5rem;
    margin-top: 1rem;
}

.w1{
    background: url(https://www.uitrgpv.ac.in/imagesN/cs_img.jpg);
    background-size: cover;
}

.w2{
    background: url(https://www.uitrgpv.ac.in/imagesN/electronics_img.jpg);
    background-size: cover;
}

.w3{
    background: url(https://www.uitrgpv.ac.in/imagesN/electrical_img.jpg);
    background-size: cover;
}

.w4{
    background: url(https://www.uitrgpv.ac.in/imagesN/civil_img.jpg);
    background-size: cover;
    
}

#w .headz{
    position: relative;
    left: -35%;
    top: 45%;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: solid;
    color: rgb(255, 251, 251);
    z-index: 2;
    opacity: 1;
}

#w .para{
    position: relative;
    left: -30%;
    top: 60%;
    font-weight: 900;
    font-size: 1rem;
    width: 8rem;
    color: rgb(255, 251, 251);
    z-index: 2;
    opacity: 1;
}


#carp{
    position: relative;
    top: -5rem;
    background-color: white;
    margin: 0.5rem;
    height: 20rem;
    border: 1.5px solid rgb(209, 36, 36);
}

.headi{
    position: relative;
    text-align: center;
    top: 20%;
    height: 1.4rem;
    font-size: 1.2rem;
    text-decoration: solid;
    color: black;
    z-index: 2;
    opacity: 1;
}

.paras{
    position: relative;
    text-align: center;
    top: 30%;
    width: 21rem;
    font-size: 1rem;
    color: black;
}

#icn{
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 4rem;
    width: 21rem;
    z-index: 0;
    color: rgb(209, 36, 36);
}

.last-line{
    position: absolute;
    top: 286.15rem;
    background-color: rgb(1, 43, 51);
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.a{
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

.permanent{
    display: grid;
    position: fixed;
    right: 00;
    background-color: rgb(226, 91, 42);
    height: 18rem;
    width: 2.2rem;
    z-index: 5;
    margin-top: 12rem;
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
}